.spinner {
  background-image: url('../../../markup/img/amsterdam@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner__loading {
  font-size: 32px;
  background-color: #4481c3;
  -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
  border-radius: 5%;
  border-width: 5px;
  padding: 16px 12px 16px
}

.spinner__error {
  text-align: center;
  font-size: 32px;
  background-color: #c34844;
  -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
  border-radius: 5%;
  border-width: 5px;
  padding: 16px 12px 16px
}
